# PostgreSQL Configuration
POSTGRES_DB=archipellibre
POSTGRES_USER=archipellibre
POSTGRES_PASSWORD=changeme

# Backend Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/archipellibre
SPRING_DATASOURCE_USERNAME=archipellibre
SPRING_DATASOURCE_PASSWORD=changeme
JWT_SECRET=YourSuperSecretKeyForJWTTokenGenerationMustBe256BitsOrMoreForHS512Algorithm

# PgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
